# 1. Explain the key features of Python that make it a popular choice for programming.

Ans-  There are numerous Python features which makes it so special and
      different from any other programming language.
     
     (a) Easy to Code (b) Easy to Read (c) Free and Open Source (d) Robust
     Standard  Library (e) Portable (f)Extensible (g) Support for GUI
     (h) Dynamically Typed (i) High-level language.

# 2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program.

Ans- Keywords are reserved words in Python that have special meanings and
     cannot be used as identifiers.
  
  Example- True, False, class,
           import, None, for, while, else, if, return, try, def etc.

In [2]:
print("example of True, False, and, or, not keywords")

#  compare two operands using and operator
print(True and True)

# compare two operands using or operator
print(True or False)

# use of not operator
print(not False)

example of True, False, and, or, not keywords
True
True
True

In [3]:
# run for loop
for t in range(1, 5):
  # print one of t ==1
    if t == 1:
        print('One')
   # print two if t ==2
    elif t == 2:
        print('Two')
    else:
        print('else block execute')

One
Two
else block execute
else block execute

In [4]:
def fun(num):
    try:
        r = 1.0/num
    except:
        print('Exception raises')
        return
    return r

print(fun(10))
print(fun(0))

0.1
Exception raises
None

#3.  Compare and contrast mutable and immutable objects in Python with    examples.

Ans- (a) Mutable- A mutable object in Python is an object that can be changed after it has been created. This means that any operation that modifies a mutable object will modify the original object itself.

In [8]:
my_list = [7, 8, 9]
my_list.append(6)
print(my_list)

my_list.insert(7, 5)
print(my_list)

print(my_list)
print(popped_element)

[7, 8, 9, 6]
[7, 8, 9, 6, 5]
[7, 9, 6, 5]
[9, 6, 5]
7

In [6]:
#Modify item from a dictionary in Python
my_dict = {"name": "Rahul", "age": 23}
new_dict = my_dict
new_dict["age"] = 37

print(my_dict)
print(new_dict)

{'name': 'Rahul', 'age': 37}
{'name': 'Rahul', 'age': 37}

(b) Immutable- Immutable Objects are of in-built datatypes like int, float, bool, string, Unicode, and tuple. In simple words, an immutable object can’t be changed after it is created.

In [7]:
# Python code to test that
# tuples are immutable

tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

#4. Discuss the different types of operators in Python and provide examples of how they are used.
  
Ans- (a) Arithmetic Operators (+,-,*,\, %)

In [10]:
a = 9
b = 4
add = a + b

sub = a - b

mul = a * b

mod = a % b

p = a ** b
print(add)
print(sub)
print(mul)
print(mod)
print(p)

13
5
36
1
6561

(b) Comparison Operators -
    

*   Greater than: True if the left operand is greater than the rightst item(>).
*   Less than: True if the left operand is less than the right(<).


*  Equal to: True if both operands are equal(==).
*   Not equal to – True if operands are not equal(!=).
.

*   Greater than or equal to True if the left operand is greater than or equal to the right(>=).
*  Less than or equal to True if the left operand is less than or equal to the right(<=).

In [11]:
#Example
a = 13
b = 33

print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

(c) Logical Operators -
    

*   Logical AND: True if both the operands are true
*   Logical OR: True if either of the operands is true


*   Logical NOT: True if the operand is false

In [12]:
#Example
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

(d) Bitwise Operators-
    

*  Bitwise NOT
*   Bitwise Shift
*  Bitwise AND

*  Bitwise XOR
*  Bitwise OR

In [13]:
#Example
a = 10
b = 4
print(a & b)
print(a | b)
print(~a)
print(a ^ b)
print(a >> 2)
print(a << 2)

0
14
-11
14
2
40

(e) Assignment Operators-
    

*  Assign the value of the right side of the expression to the left side operand (=).

*   Add AND: Add right-side operand with left-side operand and then assign to left operand(+=).

*   Subtract AND: Subtract right operand from left operand and then assign to left operand(-=).
*   Multiply AND: Multiply right operand with left operand and then assign to left operand(*=).


*  Divide AND: Divide left operand with right operand and then assign to left operand(/=).


*  Modulus AND: Takes modulus using left and right operands and assign the result to left operand(%=).

*  Divide(floor) AND: Divide left operand with right operand and then assign the value(floor) to left operand(//=).
*  Exponent AND: Calculate exponent(raise power) value using operands and assign value to left operand	(**=).

In [14]:
#Example
a = 10
b = a
print(b)
b += a
print(b)
b -= a
print(b)
b *= a
print(b)
b <<= a
print(b)

10
20
10
100
102400

#5.  Explain the concept of type casting in Python with examples.

 Ans- There are two types of casting in python.
    
  (a) Implicit-  Implicit conversion is where the interpreter helps us out and automatically converts one data type into another, without having to explicitly tell it to do so.

In [1]:
#Example

# implicit type Casting


# a to int
a = 7
print(type(a))


# b to float
b = 3.0
print(type(b))


# c to float as it is a float addition
c = a + b
print(c)
print(type(c))


# d to float as it is a float multiplication
d = a * b
print(d)
print(type(d))

<class 'int'>
<class 'float'>
10.0
<class 'float'>
21.0
<class 'float'>

(b) Explicit - In this method, Python needs user involvement to convert the variable data type into the required data type.

In [2]:
#Example
# int variable
a = 5

# typecast to float
n = float(a)

print(n)
print(type(n))

5.0
<class 'float'>

#6.  How do conditional statements work in Python? Illustrate with example.

 Ans- Conditionals in Python are used to execute code based on the evaluation of one or more conditions.

 *  If Conditional Statement- if condition statements to execute if condition is true .

In [3]:
#Example

if 10 > 5:
    print("10 greater than 5")

print("Program ended")

10 greater than 5
Program ended



*  If else Conditional Statements- if (condition): Executes this block if condition is true

  else: Executes this block if condition is false .

In [4]:
#Example
# if..else statement example
x = 3
if x == 4:
    print("Yes")
else:
    print("No")

No

#7.  Describe the different types of loops in Python and their use cases with examples.

Ans- In Python, loops are employed to repeat a sequence of actions or code until a specific condition is fulfilled.
    Python offers two primary types of loops:


*   for loops- “for” loops are used for iterating over a sequence of elements.
  
  Example- This Python code iterates through a list called fruits, containing “apple”, “orange” and “banana” It prints each fruit name on a separate line, displaying them in the order they appear in the list.

In [5]:
fruits = ["apple", "orange", "banana"]

for fruit in fruits:

    print(fruit)

apple
orange
banana



*  while loops -  “while” loops are used for executing code until a specified condition becomes False.

In [6]:
#Example
count = 0
while (count < 3):
    count = count + 1
    print("data analyst")
else:
    print("In Else Block")

data analyst
data analyst
data analyst
In Else Block